.form {
	&__group:not(:last-child) {
		margin-bottom: 2rem;
	}
	&__input {
		font-size: 1.5rem;
		font-family: inherit;
		color: inherit;
		padding: 1.5rem 2rem;
		border-radius: 2px;
		background-color: rgba($color-white, 50%);
		border: none;
		border-bottom: 3px solid transparent;
		width: 90%;
		display: block;
		transition: all .3s;
		&:focus {
			outline: none;
			border-bottom: 3px solid $color-primary;
			box-shadow: 0 1rem 2rem rgba($color-black, .1);
		}
		&:focus:invalid {
			border-bottom: 3px solid $color-secondary-dark;
		}
		&::-webkit-input-placeholder {
			color: $color-grey-dark-2;
		}
	}

	&__label {
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: 2rem;
		margin-top: .7rem;
		display: block;
		transition: all .3s;
	}

	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}

	&__radio-group {
		width: 49%;
		display: inline-block;
	}
	&__radio-input {
		display: none;
	}
	&__radio-label {
		cursor: pointer;
		font-size: $default-font-size;
		padding-left: 4.5rem;
		position: relative;
	}

	&__radio-button {
		height: 3rem;
		width: 3rem;
		border: 5px solid $color-primary;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		left: 0;
		top: -.4rem;

		&::after {
			content: "";
			display: block;
			border-radius: 50%;
			height: 1.3rem;
			width: 1.3rem;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $color-primary;
			opacity: 0;
			transition: .2s;
		}
	}
	&__radio-input:checked ~ &__radio-label &__radio-button::after {
		opacity: 1;
	}
}
