*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	//Defines what 1rem is
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

	@include respond(tab-land) {
		//width < 900?
		font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
	}

	@include respond(tab-port) {
		//width < 600?
		font-size: 50%; //1 rem = 8px, 8/16 = 50%
	}

	@include respond(big-desktop) {
		font-size: 75%; //1 rem = 12px, 12/16 = 75%
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;
}
